<!DOCTYPE html>
<html>
<head>
  <title>Invitational</title>
  <%= stylesheet_link_tag    "invitational/application", :media => "all" %>
  <%= javascript_include_tag "invitational/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
